

:root {
  --primary-color: #b3fafb;
  --secondary-color: #faf9f4;
  --tertiary-color: #434250;

  --primary-bg-color: #faf9f4;
  --secondary-bg-color: #001721;

  --header-bg-color: var(--secondary-bg-color);
  --header-text-color: var(--secondary-color);

  --main-text-color: var(--tertiary-color);
  --main-bg-color: var(--primary-bg-color);

  --max-width: 768px;
}

* {
  box-sizing: border-box;
}

body {
    font-family: Gordita, Roboto, Oxygen, Ubuntu, Cantarell,
      'Open Sans', 'Helvetica Neue', sans-serif;
      padding: 0;
      margin: 0;
      background-color: var(--main-bg-color);
 
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}

  
  header {
    background-color: var(--header-bg-color);
    color: var(--header-text-color);
    padding: 4rem 1.5rem;
    border-bottom: 2px solid var(--primary-color);
  }

  .wrap {
    max-width: var(--max-width);
    margin: 0 auto;
  }

  header h1 {
    font-size: 4rem;
    font-weight: 200;
    line-height: 1.1;
    margin: auto 0 2rem;
  }

  header a {
    color: var(--primary-color);
    text-decoration: none;
  }
  header a:hover {
    border-bottom: 1px solid var(--primary-color);
  }

  header p {
    margin: 2rem auto 1rem;
    line-height: 1.35;
    font-size: 1.3rem;
    font-weight: 300;
  }

footer {
  background-color: white;
  margin-top: auto;
  padding: 1rem;
  font-size: 0.9rem;
  color: var(--tertiary-color);
  text-align: center;
}
h2 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.1;
  margin: 2rem 0 2rem;
  color: var(--secondary-bg-color);
}
ul.list_sites {
  display: block;
  width: 100%;
  margin: 1rem 0 !important;
  padding: 0;
}
ul.list_sites li {
  margin-bottom: 0.8rem;
}
ul.list_sites li a {
  padding: 0.3rem 0;
  color: var(--tertiary-color);
  text-decoration-color: var(--primary-color);
  text-decoration-thickness: 3px;
}
ul.list_sites li a:hover {
  color: var(--secondary-bg-color);
  text-decoration-color: var(--secondary-bg-color);
}
footer a {
  color: var(--tertiary-color);
  text-decoration-color: var(--primary-color);
  text-decoration-thickness: 3px;
}
footer a:hover {
  color: var(--secondary-bg-color);
  text-decoration-color: var(--secondary-bg-color);
}

  main {
    color: var(--main-bg-color);
    text-align: left;
    padding: 0rem 1.5rem 2rem;
    margin: 0 auto;
    width:100%;
    max-width: var(--max-width);
  }
  
  .gsc-control-cse {
    padding: 0em;
  }

  .gcse-searchbox {
    max-width: var(--max-width) !important;
    background:none !important;
  }
  
  @media (min-width: 480px) {
    h1 {
      max-width: none;
    }
  
    p {
      max-width: none;
    }
  }
  