

:root {
  --primary-color: #b3fafb;
  --secondary-color: #faf9f4;
  --tertiary-color: #434250;

  --primary-bg-color: #faf9f4;
  --secondary-bg-color: #001721;

  --header-bg-color: var(--secondary-bg-color);
  --header-text-color: var(--secondary-color);

  --main-text-color: var(--tertiary-color);
  --main-border-color: var(--tertiary-color);
  --main-bg-color: var(--primary-bg-color);

  --max-width: 768px;
}

* {
  box-sizing: border-box;
}

body {
    font-family: Gordita, Roboto, Oxygen, Ubuntu, Cantarell,
      'Open Sans', 'Helvetica Neue', sans-serif;
      padding: 0;
      margin: 0;
      background-color: var(--main-bg-color);
 
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  min-height: 100dvh;
  min-width: 320px;
  color: var(--tertiary-color);
}

  
  header {
    background-color: var(--header-bg-color);
    color: var(--header-text-color);
    padding: 4rem 1.5rem;
    border-bottom: 2px solid var(--primary-color);
  }

  .wrap {
    max-width: var(--max-width);
    margin: 0 auto;
  }

  header h1 {
    font-size: 4rem;
    font-weight: 200;
    line-height: 1.1;
    margin: auto 0 2rem;
  }

  header a {
    color: var(--primary-color);
    text-decoration: none;
  }
  header a:hover {
    border-bottom: 1px solid var(--primary-color);
  }

  header p {
    margin: 2rem auto 1rem;
    line-height: 1.35;
    font-size: 1.3rem;
    font-weight: 300;
  }

footer {
  background-color: white;
  margin-top: auto;
  padding: 1rem;
  font-size: 0.9rem;
  color: var(--tertiary-color);
  text-align: center;
}
h2 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.1;
  margin: 2rem 0 1.2rem;
  color: var(--secondary-bg-color);
}
ul.list {
  display: block;
  width: 100%;
  margin: 1rem 0 !important;
  padding: 0;
}
ul.list li {
  margin-bottom: 0.8rem;
}
p a.submit,
ul.list li a,
.card-wrap a {
  padding: 0.3rem 0;
  color: var(--tertiary-color);
  text-decoration-color: var(--primary-color);
  text-decoration-thickness: 3px;
}
.card-wrap a:hover,
ul.list li a:hover {
  color: var(--secondary-bg-color);
  text-decoration-color: var(--secondary-bg-color);
}
.card-wrap {
  box-sizing: border-box;
  background: white;
    padding: 1.5rem;
    margin: 1.5rem -1.5rem 0;
    border-radius: 0.5rem;
    box-shadow: rgba(0,0,0,0.05) 0 0.1rem 1rem;
}
.card-wrap h2 {
  margin-top: 0;
}
.card-wrap p{
  margin-bottom:0.3rem;
}
.search-wrap {
  border-bottom: rgba(0,0,0,0.05) solid 1px;
  padding-bottom:1.5rem;
  margin-bottom:2rem;
}
span.org {
  font-weight: 600;
}
.sort-group {
  padding:8px 0 0;
}
.sort-title {
  font-weight: 600;
  margin-right: 0.6rem;
}
input.site-search {
  padding:1rem;
  margin: 0 -1rem;
  font-size: 1.1rem;
  width: calc(100% + 2rem);
  border-radius: 0.5rem;
  border: rgba(0,0,0,0.1) solid 2px;
}
.sort {
  margin-right: 0.7rem;
  padding: 0.3rem 0;
  display: inline-block;
  color: var(--tertiary-color);
  text-decoration: underline;
  text-decoration-color: var(--primary-color);
  text-decoration-thickness: 3px;
}
.sort:hover {
  color: var(--secondary-bg-color);
  text-decoration-color: var(--secondary-bg-color);
}
.sort:focus {
}
.sort:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  content:"";
  position: relative;
  top:-10px;
  right:-5px;
}
.sort .asc,
.sort .dsc {

  text-decoration-color: var(--primary-color);
  text-decoration-thickness: 3px;
}
.sort.asc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid var(--tertiary-color);
  content:"";
  position: relative;
  top:13px;
  right:-5px;
}
.sort.desc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid var(--tertiary-color);
  content:"";
  position: relative;
  top:-10px;
  right:-5px;
}
footer a {
  color: var(--tertiary-color);
  text-decoration-color: var(--primary-color);
  text-decoration-thickness: 3px;
}
footer a:hover {
  color: var(--secondary-bg-color);
  text-decoration-color: var(--secondary-bg-color);
}

  main {
    text-align: left;
    padding: 0rem 0 2rem;
    margin: 0 auto;
    width:100%;
    max-width: var(--max-width);
  }
  
  ul {
    list-style: none; /* Remove default bullets */
  }

  .gsc-control-cse {
    padding: 0em;
  }

  .gcse-searchbox {
    max-width: var(--max-width) !important;
    background:none !important;
  }
  
  @media (max-width: 768px) {
    h1 {
      max-width: none;
    }
  
    p {
      max-width: none;
    }
    main p, main h2,
    ul.list,
    .search-wrap {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      border: none;
    }
    .card-wrap {
      margin-top:0;
    }
    input.site-search {
      padding:1rem;
      margin: 0rem;
      font-size: 1.1rem;
      width: 100%;
    }
  }
  
